footer {
  @include hover-animation($black);
  @include text-xs;

  background-color: $primary-lighter;

  padding: 10px 15px;
  @include mq-md {
    padding: 20px 60px;
  }
  @include gutters;

  small {
    display: block;
    margin-left: auto;
    width: fit-content;
  }
}
