footer {
  @include hover-animation(black);
  @include text-xs;
  outline: 2px #ff0000 solid;
  padding: 10px 15px;
  @include mq-md {
    padding: 20px 60px;
  }

  small {
    display: block;
    margin-left: auto;
    width: fit-content;
  }
}
