@import "../../../assets/styles/mixins";
@import "../../../assets/styles/media";

:host {
  width: 100%;
  .card {
    width: 100%;
    max-width: 500px;
    padding: 25px 15px;
    margin: 0 auto;
    @include mq-xs {
      padding: 40px 30px;
    }
    mat-card-header {
      mat-icon {
        height: fit-content;
        width: fit-content;
      }
      align-items: center;
      > :first-child {
        margin-right: 15px;
      }
      mat-card-title.card-title {
        margin-bottom: 0;
      }
      @include header-bottom-margin;
    }
    // Showing progress bar at the bottom
    position: relative;
    overflow: hidden;
    mat-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
