section {
    display: flex;
    flex-direction: column;
    align-items: center;
  .login-card {
    max-width: 350px;

    form {
      :not(:last-child) {
        margin-bottom: 10px;
      }
      button[type="submit"] {
        margin-top: 10px;
      }
    }
  }
}
