.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
  }
  .login-test {
    width: 100%;
    margin-top: 15px;
  }
  .signup-text {
    margin-top: 30px;
  }
}
