<section class="login-section">
  <travel-log-card
    [progressBarCondition]="
      loginForm.submitted && loginForm.form.status === 'VALID'
    "
    title="Log into your account"
    icon="login"
    class="login-card"
  >
    <form
      fxLayout="column"
      fxLayoutGap="25px"
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
    >
      <mat-form-field>
        <mat-placeholder class="placeholder">Your email</mat-placeholder>
        <input
          matInput
          ngModel
          type="email"
          name="email"
          id="email"
          email
          #emailInput="ngModel"
          required
        />
        <mat-error *ngIf="emailInput.hasError('required')"
          >Cannot be empty</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')"
          >Email is invalid</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          ngModel
          type="password"
          name="password"
          id="password"
          required
          minlength="8"
          #pwdInput="ngModel"
        />
        <mat-placeholder class="placeholder">Your password</mat-placeholder>
        <mat-hint align="end">{{ pwdInput.value?.length || 0 }}</mat-hint>
        <mat-error *ngIf="pwdInput.hasError('required')"
          >Cannot be empty</mat-error
        >
        <mat-error *ngIf="!pwdInput.hasError('required')"
          >Should be at least 8 characters long</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </travel-log-card>
</section>
