.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    // > :not(:last-child) {
    //   margin-bottom: 10px;
    // }
    // button[type="submit"] {
    //   margin-top: 20px;
    // }
  }
}
