<section>
  <div>
    <h1>All your trips in one place</h1>
    <p>
      Jot down all your trip notes and treasure those precious moments forever.
    </p>
  </div>
  <div>
    <h1>Sort, filter, and organize your trips</h1>
    <p>Keeping track of all your adventures has never been easier.</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="column center flex-start">
    <h1>Start logging your trips now</h1>
    <p>Create a free account and write your own story.</p>
    <button mat-raised-button color="primary">Log in</button>
  </div>
</section>
