@import "src/assets/styles/colors";
:host {
  mat-expansion-panel {
    margin-top: 50px;
    mat-expansion-panel-header {
      background-color: $color-primary;
    }
  }

  li {
    .journal-date-label {
      font-weight: bold;
    }
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}
