:host {
  width: 100%;

  .auth-button {
    margin-left: auto;
  }

  #mobile-header {
    .login-button,
    .logout-button {
      margin-left: auto;
    }
  }
  #desktop-header {
    .header-texts {
      display: flex;
      align-items: baseline;
      a {
        font-size: 24px;
        font-weight: bold;
      }
      span {
        margin-left: 10px;
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }
}
