@import "src/assets/styles/media";

section {
  .cards-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 450px));
    @include mq-xs {
      grid-template-columns: repeat(auto-fill, minmax(350px, 450px));
    }
    justify-content: center;
    &.single-trip {
      display: flex;
      justify-content: center;
      align-items: center;
      travel-log-trip-card {
        width: min(500px, 90vw);
      }
    }
  }
  #no-trips-title {
    text-align: center;
  }
  .no-trips-img {
    display: block;
    margin: 0 auto;

    margin-top: 75px;

    width: 100%;
    height: auto;
    max-width: 400px;
  }
}
