@import "../../../assets/styles/media";

section {
  .cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 450px));
    justify-content: center;
  }
}
