@import "../../../assets/styles/media";

.cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  mat-card {
    width: 100%;
    padding: 0;
    // @include mq-xs {
    //   width: 350px;
    // }
    // @include mq-sm {
    //   width: 550px;
    // }
    .mat-tab-labels {
      justify-content: center;
    }
    .mat-tab-body-content {
      padding: 30px 20px;
    }
  }
}
