mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

::ng-deep mat-sidenav {
  width: min(250px, 70%);
  > .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
