@import "src/assets/styles/colors";

:host {
  width: 100%;
  display: block;
  #trip-card {
    width: 100%;
    height: 100%;
    min-height: 400px;

    padding: 30px 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    .mat-card-content {
      ::ng-deep .mat-tab-group {
        .mat-tab-header {
          border-bottom: 0;
          .mat-tab-labels {
            justify-content: center;
          }
        }
        .mat-tab-body {
          padding: 25px 0;
        }
      }
      .diary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .mat-card-actions {
      margin-top: auto;
      .actions-container {
        border-radius: 30px;
        background-color: $dark;
        padding: 5px;
        #edit-buttons {
          margin: 0;
        }
      }
    }
  }
}
