:host {
  width: 100%;
  display: block;
  #trip-card {
    width: 100%;
    height: 100%;

    padding: 30px 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    .mat-card-content {
      ::ng-deep .mat-tab-group {
        .mat-tab-header {
          border-bottom: 0;
          .mat-tab-labels {
            justify-content: center;
          }
        }
        .mat-tab-body {
          padding: 25px 15px;
        }
      }
    }

    .mat-card-actions {
      margin-top: auto;
      #edit-buttons {
        margin: 0;
      }
    }
  }
}
