@import "src/assets/styles/colors", "src/assets/styles/media";

:host {
  border-radius: 50px;
  padding: 5px 10px;
  background-color: $dark;
  #edit-icon {
    color: $color-accent;
  }
}

#delete-card-modal-content {
}

.mat-dialog-container {
  min-height: 60vh;
  @include mq-sm {
    min-height: 35vh;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  @include mq-sm {
    padding: 40px 60px;
  }
  mat-icon {
    margin-right: 10px;
  }
}
