span,
p {
  font-size: $std-fs;
}

section {
  width: 100%;
  max-width: 1279px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

mat-card-title {
  line-height: 1.4;
}

mat-card-subtitle {
  line-height: 1.2;
}

.max-container {
  max-width: 1600px;
  margin: 0 auto;
}

button.mat-raised-button,
button.mat-flat-button,
button.mat-stroked-button {
  font-size: 16px;
  font-weight: 700 !important;
  min-height: 44px;
  min-width: 120px;
}

mat-list-item {
  ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }
}

mat-dialog-container.mat-dialog-container {
  min-width: 400px;
  max-width: min(600px, 80vw);
  padding: 35px 25px;

  mat-dialog-actions {
    margin: 0;
    padding: 0;
  }
}

.mat-menu-content {
  button {
    font-size: $btn-fs;
    min-width: 180px;
    text-align: center;
  }
}

p,
span,
label {
  font-size: $std-fs;
}

// Typography
.h1,
mat-card-title.mat-card-title.card-title {
  font-size: $h1-fs;
  font-weight: $h1-fw;
  line-height: $h1-lh;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.h2,
h2.mat-dialog-title {
  font-size: $h2-fs;
  font-weight: $h2-fw;
  line-height: $h2-lh;
}

p {
  font-size: $std-fs;
  line-height: $std-lh;
}
