section {
  width: 100%;
  max-width: 1279px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

mat-card-title {
  line-height: 1.4;
}

mat-card-subtitle {
  line-height: 1.2;
}

.max-container {
  max-width: 1920px;
  margin: 0 auto;
}