//=============================================
//=            Media queries breakpoints      =
//=============================================

$breakpoint-xs: 599px !default;
$breakpoint-sm: 959px !default;
$breakpoint-md: 1279px !default;
$breakpoint-lg: 1919px !default;
$breakpoint-xl: 5000px !default;

@mixin mq-xs {
  @media screen and (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin mq-sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mq-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin mq-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin mq-xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin mq($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

//=====  End of Media queries breakpoints  ======
