// Importing fonts
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SonsieOne";
  src: url("./fonts/SonsieOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

$h1-fs: 28px;
$h1-lh: 32px;
$h1-fw: 700;

$h2-fs: 24px;
$h2-lh: 28px;
$h2-fw: 700;

$btn-fs: 19px;
$btn-lh: 24px;
$btn-fw: 700;

$std-fs: 18px;
$std-lh: 26px;
