// Importing fonts
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SonsieOne";
  src: url("./fonts/SonsieOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

// Typography
.h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
