// Importing fonts
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SonsieOne";
  src: url("./fonts/SonsieOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

$h1-fs: 28px;
$h1-lh: 32px;
$h1-fw: 700;
$h1-fs-xs: 24px;
$h1-lh-xs: 28px;

$h2-fs: 24px;
$h2-lh: 28px;
$h2-fw: 700;
$h2-fs-xs: 22px;
$h2-lh-xs: 24px;

$btn-fs: 17px;
$btn-lh: 17px;
$btn-fw: 600;

$std-fs: 18px;
$std-lh: 26px;
$std-fw: 500;
